<header class="bar bar-nav">
    <span class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
    </span>
    <h1 class="title">Employee</h1>
</header>
<div class="content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell media">
                <a href="#composemsg" class="push-right">
                    <img class="media-object pull-left emp-pic" src="{{rootPath}}assets/pics/{{pic}}">
                    <div class="media-body">
                        {{ firstName }} {{ lastName }}
                        <p>{{ title }}</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="tel:{{ officePhone }}" class="push-right">
                    <span class="media-object pull-left icon icon-call"></span>
                    <div class="media-body">
                        Call Office
                        <p>{{ officePhone }}</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="tel:{{ cellPhone }}" class="push-right">
                    <span class="media-object pull-left icon icon-call"></span>
                    <div class="media-body">
                        Call Cell
                        <p>{{ cellPhone }}</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="sms:{{ cellPhone }}" class="push-right">
                    <span class="media-object pull-left icon icon-sms"></span>
                    <div class="media-body">
                        SMS
                        <p>{{ cellPhone }}</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="mailto:{{ email }}" class="push-right">
                    <span class="media-object pull-left icon icon-mail"></span>
                    <div class="media-body">
                        Email
                        <p>{{ email }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>